<a href="https://colab.research.google.com/github/anhtr/freeCodeCamp_projects/blob/master/scientific_computing_with_python/01_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Simple assigning and printing

In [ ]:
x = 6
print(x)

6

In [ ]:
x = 43
x = x + 1
print(x)

44

Operator precidence rules
1. Parentheses ()
2. Exponentiation **
3. Multiplication *, division /, remainder %
4. Addition +, substraction -
5. Left to right

In [ ]:
1 + 2 * 3**3 + 4 / 6 % 5

55.666666666666664

Types: int vs float

In [ ]:
type(1) # int
type(98.6) # float
type(3/2) # float
type(4/2) # float
type(float(10) + int(1)) # float

Types: numeric-string conversion

In [ ]:
float("1") # 1.0
int("1") # 1
float("1a") # ValueError: could not convert string to float: '1a'

User input

In [ ]:
n = input("Hello, what's your name? ")
print("Welcome,", n)

Conditional Execution:
- has a : after if and for
- Indent = scope
- blank lines and comments are ignored with regard to indentation
- Turn off tabs

Operators: > < == similar to R
`is` and `is not` is stronger than == and != because they also check for type (0 is 0.0 will be False)

In [ ]:
x = 0
if x == 0:
  print('x is 0')
elif x < 0:
  print('x is less than 0')
else:
  print('x is more than 0')
print('All done!')

x is 0
All done!

Try/except
- If code in try work,  except is skipped
- If code in try fails, jumps to except

In [ ]:
rawstr = input('Enter a numner:')
try:
  ival = int(rawstr)
except:
  ival = -1

if ival > 0:
  print('Nice work')
else:
  print('Not a number')

Enter a numner:n
Not a number

Functions
- Use `def` to define new function
- Indent body of function

In [ ]:
def add_one(x):
  x = x + 1
  return x

y = add_one(2)
print(y)

3

Loops and iterations
- Beware of loops that never escape (infinite)

In [1]:
n = 3
while n> 0:
  print(n)
  n = n - 1
print('Blast off!')

3
2
1
Blast off!

- `break` to break out of the loop and jumps to the next statement following loop

In [2]:
while True:
  line = input('> ')
  if line == 'done':
    break
  print(line)
print('Done')

> 1
1
> completed
completed
> done
Done

- `continue` ends the current iteration and junps back to the top of the loop and start the next iteration

In [3]:
while True:
  line = input('> ')
  if line[0] == '#':
    continue
  if line == 'done':
    break
  print(line)
print('Done!')

> 1
1
> # 1
> done
Done!

- Definite loops loop over a defined number of times

In [4]:
for i in [3, 2, 1]:
  print(i)
print('Blastoff!')

3
2
1
Blastoff!

In [6]:
friends = ['A', 'B', 'C']
for friend in friends:
  print('Happy New Year:', friend)
print('I\'m done with all of you')

Happy New Year: A
Happy New Year: B
Happy New Year: C
I'm done with all of you

In [7]:
smallest = None
print("Before:", smallest)
for itervar in [3, 41, 12, 9, 74, 15]:
    if smallest is None or itervar < smallest:
        smallest = itervar
    print("Loop:", itervar, smallest)
print("Smallest:", smallest)

Before: None
Loop: 3 3
Loop: 41 3
Loop: 12 3
Loop: 9 3
Loop: 74 3
Loop: 15 3
Smallest: 3

In [8]:
5!=4

True