<a href="https://colab.research.google.com/github/anhtr/freeCodeCamp_projects/blob/master/scientific_computing_with_python/01_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

**Simple assigning and printing**

In [ ]:
x = 6
print(x)

6

In [ ]:
x = 43
x = x + 1
print(x)

44

**Operator precidence rules**
1. Parentheses ()
2. Exponentiation **
3. Multiplication *, division /, remainder %
4. Addition +, substraction -
5. Left to right

In [ ]:
1 + 2 * 3**3 + 4 / 6 % 5

55.666666666666664

**Types**: int vs float

In [3]:
type(1) # int
type(98.6) # float
type(3/2) # float
type(4/2) # float
type(float(10) + int(1)) # float

float

Types: numeric-string conversion

In [ ]:
float("1") # 1.0
int("1") # 1
float("1a") # ValueError: could not convert string to float: '1a'

**User input**

In [ ]:
n = input("Hello, what's your name? ")
print("Welcome,", n)

**Conditional Execution:**
- has a : after if and for
- Indent = scope
- blank lines and comments are ignored with regard to indentation
- Turn off tabs

Operators: > < == similar to R
`is` and `is not` is stronger than == and != because they also check for type (0 is 0.0 will be False)

In [ ]:
x = 0
if x == 0:
  print('x is 0')
elif x < 0:
  print('x is less than 0')
else:
  print('x is more than 0')
print('All done!')

x is 0
All done!

Try/except
- If code in try work,  except is skipped
- If code in try fails, jumps to except

In [ ]:
rawstr = input('Enter a numner:')
try:
  ival = int(rawstr)
except:
  ival = -1

if ival > 0:
  print('Nice work')
else:
  print('Not a number')

Enter a numner:n
Not a number

**Functions**
- Use `def` to define new function
- Indent body of function

In [ ]:
def add_one(x):
  x = x + 1
  return x

y = add_one(2)
print(y)

3

**Loops and iterations**
- Beware of loops that never escape (infinite)

In [ ]:
n = 3
while n> 0:
  print(n)
  n = n - 1
print('Blast off!')

3
2
1
Blast off!

- `break` to break out of the loop and jumps to the next statement following loop

In [ ]:
while True:
  line = input('> ')
  if line == 'done':
    break
  print(line)
print('Done')

> 1
1
> completed
completed
> done
Done

- `continue` ends the current iteration and junps back to the top of the loop and start the next iteration

In [ ]:
while True:
  line = input('> ')
  if line[0] == '#':
    continue
  if line == 'done':
    break
  print(line)
print('Done!')

> 1
1
> # 1
> done
Done!

- Definite loops loop over a defined number of times

In [ ]:
for i in [3, 2, 1]:
  print(i)
print('Blastoff!')

3
2
1
Blastoff!

In [ ]:
friends = ['A', 'B', 'C']
for friend in friends:
  print('Happy New Year:', friend)
print('I\'m done with all of you')

Happy New Year: A
Happy New Year: B
Happy New Year: C
I'm done with all of you

In [ ]:
smallest = None
print("Before:", smallest)
for itervar in [3, 41, 12, 9, 74, 15]:
    if smallest is None or itervar < smallest:
        smallest = itervar
    print("Loop:", itervar, smallest)
print("Smallest:", smallest)

Before: None
Loop: 3 3
Loop: 41 3
Loop: 12 3
Loop: 9 3
Loop: 74 3
Loop: 15 3
Smallest: 3

**Strings**
- Can be converted to number using int()
- Can get single character using index in square bracket.
- Index beyond the end of a string will give error.
- `len` gives length of string. Can be use to loop through strings with `while`.

In [ ]:
"banana"[0]

'b'

In [ ]:
len('banana')

6

In [ ]:
word = 'banana'
count = 0
for letter in word:
  if letter == 'a':
    count = count + 1
print(count)

3

- Slice with colon operator. The second number is "upto but not including".
- If the second number is beyond the end of the string, it stops at the end.

In [ ]:
'Monty Python'[0:5]

'Monty'

In [ ]:
'Monty Python'[6:20]

'Python'

In [ ]:
'Monty Python'[6:7]

'P'

- `+` means "concatenate"

In [ ]:
a = 'Hello'
print(a + 'There')
print(a + ' ' + 'There')

HelloThere
Hello There

- `in` as logical operator.
- string comparison with `>`, `<`, `==` is case sensitive and weird.

In [ ]:
'n' in 'banana'

True

- functions built-in for string (string library)
- appending the function to string variable.
- do not modify original string. resturn a new string that has been altered.

In [ ]:
greet = 'Hello'
zap = greet.lower()
print(greet)
print(zap)

Hello
hello

- Use `type` to check class of an object and `dir` to see method associated with that.

In [ ]:
stuff = 'Hello World'
print(type(stuff))
print(dir(stuff))

<class 'str'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

- Search a string with `find`, which rturn first occurence of the substring.
- if substring not found, `find` return -1.
- Can be used for parsing and extracting.

In [ ]:
'banana'.find('na')

2

In [ ]:
data = 'From asdfdsf@dfsd.com Sat Jan 09:09:09 2009'
atpos = data.find('@')
sppos = data.find(' ', atpos)
host = data[atpos + 1 : sppos]
print(host)

dfsd.com

- `replace` will search and replace all occurence of the search string with replacement string.

In [ ]:
greet = 'Hello Bob'
greet.replace('o', 'a')

'Hella Bab'

- strip whitespace with `lstrip` (left), `rstrip` (right) and `strip` (both sides)

In [ ]:
greet = '  Hello   '
print(greet.lstrip())
print(greet.rstrip())
print(greet.strip())

Hello
  Hello
Hello

- prefixes check with `startswith`

In [ ]:
'Hello Bob'.startswith('Hell')

True

**Reading files**
- First, tell python which file we are going to work with and what we will be doing with the file. Use `open()`. Open returns a file handle.

In [ ]:
handle = open(filename, mode)
# mode is optional, 'r' for read or 'w' for write.

- Newline character `\n`. Work in `print` but not when the variable is called. Count as one character.

In [1]:
stuff = 'Hello\nWorld!'
stuff

'Hello\nWorld!'

In [2]:
print(stuff)

Hello
World!

- File handle can be treated as sequence (ordered set) where each line is a string. Can use `for` statement to iterate through.

In [ ]:
xfile = open('mbox.txt')
for cheese in xfile:
  print(cheese)

In [ ]:
# counting lines in a file
fhand = open('mbox.txt')
count = 0
for line in fhand:
  count = count + 1
print('Line Count: ', count)

In [ ]:
# seaching through file
fhand = open('mbox.txt')
for line in fhand:
  if line.startswith('From:'):
    print(line.rstrip())

# the print statement will add an addional \n to each line

In [ ]:
# use in to select line
fhand = open('mbox.txt')
for line in fhand:
  if not 'abc@.ac.ab' in line:
    continue # skip line that doesn't have the needed text
  print(line.rstrip())

- Can read whole file into a single string

In [ ]:
fhand = open('mbox.txt')
inp = fhand.read()

- Check for bad files

In [1]:
fname = input('Enter the file name: ')
try:
  fhand = open(fname)
except:
  print('File cannot be opened:', fname)
  quit()

Enter the file name: as.txt
File cannot be opened: as.txt

**Lists**
- a kind of collection
- allow us to put many values inside a single 'variable', which is nice as a convenient package.
- list constant are surrounded by square brackets and the elements are separated by commas.
- a list element can be any Python object, even another list.
- list can be empty.
- Lists are great for definite loops.

In [1]:
friends = ['Monica', 'Rachel', 'Phoebe']

- get element using square bracket

In [2]:
x = [1, 2, "a"]
print(x[1])

2

- lists are 'mutable' and we can change an element of a list using the index operator.
- (remember that strings are immutable)

In [4]:
y = [1, 2, 3, 4, 5]
print(y)
y[2] = 'three'
print(y)

[1, 2, 3, 4, 5]
[1, 2, 'three', 4, 5]

- use `len` to count the number of elements in a list or a string or any set or sequence.

In [5]:
z = [1, 2, 3, 4, 'a', 'b']
len(z)

6

- `range` returns a list of number that range from zero to one less than the parameter.

In [6]:
print(range(4))
friends = ['Ross', 'Joey', 'Chandler']
print(range(len(friends)))

range(0, 4)
range(0, 3)

- Use `+` to concatenate list
- Slice using index

In [9]:
x = [1, 2, 3, 4]
y = ['a', 'b', 'c', 'd']
z = x + y
print(z)
print(z[2:6])
print(z[3:])

[1, 2, 3, 4, 'a', 'b', 'c', 'd']
[3, 4, 'a', 'b']
[4, 'a', 'b', 'c', 'd']

- list methods

In [12]:
x = list()
print(type(x))
print(dir(x))

<class 'list'>
['__add__', '__class__', '__contains__', '__delattr__', '__delitem__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__gt__', '__hash__', '__iadd__', '__imul__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__reversed__', '__rmul__', '__setattr__', '__setitem__', '__sizeof__', '__str__', '__subclasshook__', 'append', 'clear', 'copy', 'count', 'extend', 'index', 'insert', 'pop', 'remove', 'reverse', 'sort']

In [13]:
# append add element to the end of the list
stuff = list()
stuff.append('book')
stuff.append(99)
stuff.append('cookie')
print(stuff)

['book', 99, 'cookie']

- `in` and `not in` operators

In [14]:
some = [1, 2, 3, 5, 8, 13]
print(3 in some)
print(15 in some)
print(20 not in some)

True
False
True

- built-in functions for lists

In [15]:
nums = (1, 3, 4, 7, 11, 18)
print(len(nums))
print(max(nums))
print(min(nums))
print(sum(nums))
print(sum(nums)/len(nums))

6
18
1
44
7.333333333333333

In [19]:
numlist = list()
while True:
  inp = input('Enter a number: ')
  if inp == 'done': break
  value = float(inp)
  numlist.append(value)
2
average = sum(numlist) / len(numlist)
print('Entered:', numlist)
print('Average:', average)

Enter a number: 1
Enter a number: 2
Enter a number: 3
Enter a number: 4
Enter a number: 5
Enter a number: done
Entered: [1.0, 2.0, 3.0, 4.0, 5.0]
Average: 3.0

String and list
- `split` break a string into parts and produce list of strings (words).
- when delimiter not specified, multiple spaces are treated as one delimiter.
- can specify other delimiter for splitting

In [20]:
abc = 'With three words'
stuff = abc.split()
print(stuff)
print(stuff[1])
for w in stuff:
  print(w)

['With', 'three', 'words']
three
With
three
words

In [21]:
line = 'A lot                   of space'
print(line.split())

['A', 'lot', 'of', 'space']

In [22]:
line = 'first;second;third'
print(line.split(';'))

['first', 'second', 'third']

In [23]:
line = 'first;;second;;;third'
print(line.split(';'))

['first', '', 'second', '', '', 'third']