<a href="https://colab.research.google.com/github/anhtr/freeCodeCamp_projects/blob/master/scientific_computing_with_python/01_intro.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Simple assigning and printing

In [ ]:
x = 6
print(x)

6

In [ ]:
x = 43
x = x + 1
print(x)

44

Operator precidence rules
1. Parentheses ()
2. Exponentiation **
3. Multiplication *, division /, remainder %
4. Addition +, substraction -
5. Left to right

In [ ]:
1 + 2 * 3**3 + 4 / 6 % 5

55.666666666666664

Types: int vs float

In [ ]:
type(1) # int
type(98.6) # float
type(3/2) # float
type(4/2) # float
type(float(10) + int(1)) # float

Types: numeric-string conversion

In [ ]:
float("1") # 1.0
int("1") # 1
float("1a") # ValueError: could not convert string to float: '1a'

User input

In [ ]:
n = input("Hello, what's your name? ")
print("Welcome,", n)

Conditional Execution:
- has a : after if and for
- Indent = scope
- blank lines and comments are ignored with regard to indentation
- Turn off tabs

Operators: > < == similar to R
`is` and `is not` is stronger than == and != because they also check for type (0 is 0.0 will be False)

In [ ]:
x = 0
if x == 0:
  print('x is 0')
elif x < 0:
  print('x is less than 0')
else:
  print('x is more than 0')
print('All done!')

x is 0
All done!

Try/except
- If code in try work,  except is skipped
- If code in try fails, jumps to except

In [ ]:
rawstr = input('Enter a numner:')
try:
  ival = int(rawstr)
except:
  ival = -1

if ival > 0:
  print('Nice work')
else:
  print('Not a number')

Enter a numner:n
Not a number

Functions
- Use `def` to define new function
- Indent body of function

In [ ]:
def add_one(x):
  x = x + 1
  return x

y = add_one(2)
print(y)

3

Loops and iterations
- Beware of loops that never escape (infinite)

In [ ]:
n = 3
while n> 0:
  print(n)
  n = n - 1
print('Blast off!')

3
2
1
Blast off!

- `break` to break out of the loop and jumps to the next statement following loop

In [ ]:
while True:
  line = input('> ')
  if line == 'done':
    break
  print(line)
print('Done')

> 1
1
> completed
completed
> done
Done

- `continue` ends the current iteration and junps back to the top of the loop and start the next iteration

In [ ]:
while True:
  line = input('> ')
  if line[0] == '#':
    continue
  if line == 'done':
    break
  print(line)
print('Done!')

> 1
1
> # 1
> done
Done!

- Definite loops loop over a defined number of times

In [ ]:
for i in [3, 2, 1]:
  print(i)
print('Blastoff!')

3
2
1
Blastoff!

In [ ]:
friends = ['A', 'B', 'C']
for friend in friends:
  print('Happy New Year:', friend)
print('I\'m done with all of you')

Happy New Year: A
Happy New Year: B
Happy New Year: C
I'm done with all of you

In [ ]:
smallest = None
print("Before:", smallest)
for itervar in [3, 41, 12, 9, 74, 15]:
    if smallest is None or itervar < smallest:
        smallest = itervar
    print("Loop:", itervar, smallest)
print("Smallest:", smallest)

Before: None
Loop: 3 3
Loop: 41 3
Loop: 12 3
Loop: 9 3
Loop: 74 3
Loop: 15 3
Smallest: 3

Strings
- Can be converted to number using int()
- Can get single character using index in square bracket.
- Index beyond the end of a string will give error.
- `len` gives length of string. Can be use to loop through strings with `while`.

In [2]:
"banana"[0]

'b'

In [3]:
len('banana')

6

In [5]:
word = 'banana'
count = 0
for letter in word:
  if letter == 'a':
    count = count + 1
print(count)

3

- Slice with colon operator. The second number is "upto but not including".
- If the second number is beyond the end of the string, it stops at the end.

In [9]:
'Monty Python'[0:5]

'Monty'

In [7]:
'Monty Python'[6:20]

'Python'

In [10]:
'Monty Python'[6:7]

'P'

- `+` means "concatenate"

In [11]:
a = 'Hello'
print(a + 'There')
print(a + ' ' + 'There')

HelloThere
Hello There

- `in` as logical operator.
- string comparison with `>`, `<`, `==` is case sensitive and weird.

In [12]:
'n' in 'banana'

True

- functions built-in for string (string library)
- appending the function to string variable.
- do not modify original string. resturn a new string that has been altered.

In [13]:
greet = 'Hello'
zap = greet.lower()
print(greet)
print(zap)

Hello
hello

- Use `type` to check class of an object and `dir` to see method associated with that.

In [14]:
stuff = 'Hello World'
print(type(stuff))
print(dir(stuff))

<class 'str'>
['__add__', '__class__', '__contains__', '__delattr__', '__dir__', '__doc__', '__eq__', '__format__', '__ge__', '__getattribute__', '__getitem__', '__getnewargs__', '__gt__', '__hash__', '__init__', '__init_subclass__', '__iter__', '__le__', '__len__', '__lt__', '__mod__', '__mul__', '__ne__', '__new__', '__reduce__', '__reduce_ex__', '__repr__', '__rmod__', '__rmul__', '__setattr__', '__sizeof__', '__str__', '__subclasshook__', 'capitalize', 'casefold', 'center', 'count', 'encode', 'endswith', 'expandtabs', 'find', 'format', 'format_map', 'index', 'isalnum', 'isalpha', 'isascii', 'isdecimal', 'isdigit', 'isidentifier', 'islower', 'isnumeric', 'isprintable', 'isspace', 'istitle', 'isupper', 'join', 'ljust', 'lower', 'lstrip', 'maketrans', 'partition', 'replace', 'rfind', 'rindex', 'rjust', 'rpartition', 'rsplit', 'rstrip', 'split', 'splitlines', 'startswith', 'strip', 'swapcase', 'title', 'translate', 'upper', 'zfill']

- Search a string with `find`, which rturn first occurence of the substring.
- if substring not found, `find` return -1.
- Can be used for parsing and extracting.

In [16]:
'banana'.find('na')

2

In [23]:
data = 'From asdfdsf@dfsd.com Sat Jan 09:09:09 2009'
atpos = data.find('@')
sppos = data.find(' ', atpos)
host = data[atpos + 1 : sppos]
print(host)

dfsd.com

- `replace` will search and replace all occurence of the search string with replacement string.

In [17]:
greet = 'Hello Bob'
greet.replace('o', 'a')

'Hella Bab'

- strip whitespace with `lstrip` (left), `rstrip` (right) and `strip` (both sides)

In [18]:
greet = '  Hello   '
print(greet.lstrip())
print(greet.rstrip())
print(greet.strip())

Hello
  Hello
Hello

- prefixes check with `startswith`

In [19]:
'Hello Bob'.startswith('Hell')

True